APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_PORT=3306



DB_HOST_SMS=localhost
DB_DATABASE_SMS=homestead
DB_USERNAME_SMS=homestead
DB_PASSWORD_SMS=secret
DB_PORT_SMS=3306



CACHE_DRIVER=file
SESSION_DRIVER=file
